version: '3.8' # Docker Compose ka version

services: # Humari teeno services

  # 1. Auth Service
  auth-service:
    build: ./auth-service # Dockerfile kahan hai
    ports:
      - "5001:5001" # Aapke computer ke port 5001 ko container ke 5001 se jodo
    env_file:
      - ./.env # Secrets yahan se padho

  # 2. Item Service
  item-service:
    build: ./item-service
    ports:
      - "5002:5002"
    env_file:
      - ./.env # Secrets yahan se padho
    depends_on:
      - auth-service # Pehle auth-service chalu karo, fir ise

  # 3. Frontend Client
  client:
    build: ./campus-lost-and-found
    ports:
      - "3000:80" # Aapke computer ke 3000 ko container ke 80 (nginx) se jodo
    depends_on:
      - auth-service
      - item-service